@import "./base/typography";
@import "./abstract/variables";
@import "./component/inputs";

body {
    background-color: $secondary-color;

    h4 {
        font-family: $primary-font;
        color: $primary-color;
    }
}

#accordion {
    .profile-list {
        list-style-type: none;

        background-color: $primary-color;

        width: 85%;
        border-radius: 1rem;
        margin: auto;
        text-align: center;

        justify-content: center;
        & li {
            margin: auto;
        }

        & button {
            text-decoration: none;

            text-align: center;

            font-family: $secondary-font;
            color: black;
        }
    }
}

#content-edit,
#content-posts,
#content-post-update,
#content-post-delete {
    margin: auto;

    border: 4px solid $primary-color;

    border-radius: 1rem;

    margin-top: 20%;

    width: 70%;
}

#content-post-update,
#content-post-delete {
    & table img {
        min-width: 10vw !important;
        max-width: 10vw !important;

        min-height: 10vh !important;
        max-height: 10vh !important;
    }
    & .table-container {
        max-height: 60vh !important;
    }

    & table button {
        background-color: $primary-color;
        padding: 0.3rem;
        margin: auto !important;

        border-radius: 0.6rem;
        font-family: $primary-font;
        &:focus {
            outline: none;
        }

        cursor: pointer;
    }

    & .modal-body img {
        min-width: 30vw !important;
        max-width: 30vw !important;

        min-height: 30vh !important;
        max-height: 30vh !important;
    }
}

#content-posts {
    & select {
        background-color: $primary-color;
        padding: 0.3rem;
        border-radius: 0.4rem;
        & option {
            color: black;
            font-family: $secondary-font;
        }
    }
}
