@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+TC:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+TC:wght@500&display=swap");
input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=file],
input[type=search] {
  background-color: #66de93;
  border-radius: 0.3rem;
  padding: 0.3rem;
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  outline: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}
input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=date]:hover,
input[type=file]:hover,
input[type=search]:hover {
  -webkit-transition: all 1s;
  transition: all 1s;
  outline: none;
  background: #cfdac8;
}

button[type=submit] {
  background: #cfdac8;
  font-family: "Nanum Gothic", sans-serif;
  padding: 0.4rem;
  border-radius: 0.5rem;
  outline: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}
button[type=submit]:hover {
  -webkit-transition: all 1s;
  transition: all 1s;
  background: #66de93;
  cursor: pointer;
}

body {
  background-color: #66de93;
}

.profile-header img {
  max-width: 20vw !important;
  min-width: 20vw;
  max-height: 28vh !important;
  border-radius: 2rem;
  margin-left: 5% !important;
  margin-bottom: 2rem;
  margin-top: 1rem !important;
}
.profile-header h5 {
  font-family: "Noto Sans TC", sans-serif;
  color: #66de93;
  margin-top: 2rem;
  font-weight: bolder;
}
.profile-header button {
  margin-top: 1rem;
  background-color: #66de93;
  color: white;
  border-radius: 0.7rem;
  outline: none;
  font-family: "Nanum Gothic", sans-serif;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.profile-header button:hover {
  padding: 0.3rem;
  background-color: #cfdac8;
  color: black;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  cursor: pointer;
}

.account-detail {
  text-align: center;
}
.account-detail div {
  margin-top: 10%;
}
.account-detail div span {
  font-family: "Nanum Gothic", sans-serif;
}

section #message {
  background-color: #cfdac8;
  border: 3px solid dodgerblue;
  border-radius: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 40vw;
  margin-left: auto;
  margin-right: auto;
  font-family: "Noto Sans TC", sans-serif;
  color: dodgerblue;
  margin-top: 3rem;
  text-decoration: underline;
  text-transform: capitalize;
  font-weight: bolder;
}

#change-view {
  border: 5px solid #cfdac8;
  background-color: white;
  border-radius: 0.3rem;
}
#change-view button {
  margin-right: 5rem;
  border-radius: 0.3rem;
  background-color: #66de93;
  outline: none;
}
#change-view button i {
  color: white;
}

#user-posts {
  border: 3px solid #cfdac8;
  background-color: white;
  border-radius: 1rem;
  margin-top: 2rem;
}
#user-posts button {
  border-radius: 0.3rem;
  background-color: #66de93;
  outline: none;
}
#user-posts button i {
  color: white;
}
#user-posts span {
  font-family: "Nanum Gothic", sans-serif;
}

#pagination nav {
  margin-left: 42%;
  margin-top: 2rem;
}